<div id="add-remove{{id}}" class="sample sample-add-remove"
	{{#if pluginsAreEnabled}}data-transition-name="example-add-remove"{{/if}}
	{{#if pluginsAreEnabled}}data-transition-enter-duration="1000"{{/if}}
	{{#if pluginsAreEnabled}}data-transition-leave-duration="1000"{{/if}}
	{{#if pluginsAreEnabled}}data-persist-class="is-green"{{/if}}
>
	Hello!
</div>
